body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-image: url("../images/Y2.jpg");
}

* {
    text-decoration: none;
}

.container{
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
    background-color: black;
    opacity: .8;
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: "menu1 menu2 menu3";
    min-height: 77px;
    position: fixed;
    width: 100%;
    z-index: 10;
    color: white;
}


.menu1 {
    grid-area: menu1;
    padding-top: 12px;
}

.menu2 {
    grid-area: menu2;
    font-size: 250%;
    padding-top: 5px;
}


.menu3 {
    grid-area: menu3;
    padding-top: 12px;
}

.continue {
    font-size: 200%;
    color: white;
    transition: all .5s ease;
}

.continue:hover {
    color: #00bcd4;
    transition: all 0.5s ease;
}

.main {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 57% 43%;
    grid-template-areas: "checklist flower"
                         "checklist stats";
    height: 92vh;
    /* padding: 50px; */
    padding-top: 8vh;
    min-width: 100vw;
}

.flower {
    grid-area: flower;
    /* background-image: url("https://cdn.pixabay.com/photo/2018/08/18/13/00/sunflower-3614728_1280.jpg"); */
    opacity: 1;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    /* font-size: 35px; */
    display: grid;
}

.stats {
    grid-area: stats;
    background-color: white;
    opacity: .9;
    font-size: 15px;
    /* background-image: url("https://camo.githubusercontent.com/f32bf0587ce69c563b1f06e13dccffa7c74e4a2f/687474703a2f2f636c2e6c792f696d6167652f316a306a336c31523164325a2f636f6e74656e74");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
.statstitle {
    font-size: 25px;
    /* padding-bottom: 5px; */
}
.checklist {
    grid-area: checklist;
    background-color: white;
    overflow-y: scroll;
    opacity: .8;
}


ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  color: green;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.listheader {
  background-color: hotpink;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-top: 20px;
  color: white;
  text-align: center;
}

.listheader:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  height: 40px;
}

.addBtn {
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  height: 40px;
  box-sizing: border-box;
}

.svg-container {
	display: flex;
	/* position: relative; */
	/* max-width: 100%; */
    /* max-height: 100 */
    /* height: 40vh; */
	/* overflow: scroll; */
    align-items: center;
    /* background-color: red; */
    height: 100%;
}

#svg-1
{
  margin: 0 auto;
  display: block;
}

.hide{
    opacity: 0;
    transition: opacity 1s;
}

.active {
    opacity: 1;
    transition: opacity 1s;
}

.day {
  fill: #eee;
  stroke: #fff;
  stroke-width: 3px;
}

.color0 { fill: #d6e685 }
.color1 { fill: #44a340 }
.color2 { fill: #28752d }
.color3 { fill: #1e6823 }
.color4 { fill: #365e2f }
.color5 { fill: #144e12 }

.results {
  width: 90%;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  overflow-x: scroll;
  font-size: 15px;
}
.js-legend {
  padding-top: 10px;
  position: relative;
  display: flex;
  max-width: 100%;
  left: 67%;
  padding-bottom: 10px;
}

.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity=0);
	opacity: 0;
	line-break: auto;
}

.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9;
}

.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}

.tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
}

.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}

.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
