body {font-family: "Montserrat", sans-serif;}
input[placeholder] {font-family: "Montserrat", sans-serif;}

body, html {
    height: 100%;
    margin: 0;
}

/*.mainMenu {*/

/*}*/

.achievements {
    position: absolute;
    z-index: 1;
    left: 7%;
    top: 35%;
    justify-self: center;

    text-decoration: none;
}

.goals {
    position: absolute;
    z-index: 1;
    left: 54%;
    top: 35%;
    justify-content: center;

    text-decoration: none;
}

.settings {
    position: absolute;
    z-index: 1;
    left: 82%;
    top: 35%;
    /*right: 98%;*/
    /*justify-content: center;*/

    text-decoration: none;
}


.mainMenu {
    display: grid;
    grid-template-rows: 100%;
    grid-auto-columns: 40% 40% 20%;
    grid-template-areas:
            "ach goal set";

    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 0;

}

#Y1 {
    grid-area: ach;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#Y2 {
    grid-area: goal;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#Y3 {
    grid-area: set;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*#Y3.resize {*/
/*    height: 100%;*/
/*    width: auto;*/
/*}*/
