body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-image: url("../images/Y3.jpg");
}

* {
    text-decoration: none;
}

.container{
    min-height: 100vh;
    overflow-y: scroll;
}

.header {
    background-color: black;
    opacity: .8;
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "menu1 menu2 menu3";
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    color: white;
}

.menu1 {
    grid-area: menu1;
    padding-top: 12px;
}

.menu2 {
    grid-area: menu2;
    font-size: 250%;
    padding-top: 5px;
}

.menu3 {
    grid-area: menu3;
    padding-top: 12px;
}

.continue {
    font-size: 200%;
    color: white;
    transition: all .5s ease;
}

.continue:hover {
    color: #00bcd4;
    transition: all 0.5s ease;
}

/*.main {*/
/*    display: grid;*/
/*    grid-template-columns: 70% 30%;*/
/*    grid-template-rows: 57% 43%;*/
/*    grid-template-areas: "checklist flower"*/
/*    "checklist stats";*/
/*    height: 92vh;*/
/*    !* padding: 50px; *!*/
/*    padding-top: 8vh;*/
/*    min-width: 100vw;*/
/*}*/

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    height: 40px;
}