
body {
    font-family: "Montserrat", sans-serif;
}

form {
    position: fixed;
    top: 33%;
    left: 25%;
    width: 100%;
    height: 100%;
}

input[type=text], input[type=password] {
    width: 50%;
    height: 10%;

    border: none;
    outline: none;
    border-bottom: 2px solid #222222;

    margin-bottom: 2%;

    font-size: 150%;
}

a {
    text-decoration: none;
}

.continue {
    font-size: 150%;
    color: #222222;
}

.continue:hover {
    color: #00bcd4;
    transition: all 0.5s ease;
}

input[type=text]:focus, input[type=password]:focus {
    border-bottom: 2px solid #00bcd4;
    transition: all 1.25s ease;

}

.hide{
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
}

.active {
    opacity: 1;
    transition: opacity 1s;
}

.disabled {
    pointer-events: none;
    cursor: default;
}
